chat-nodered-flow.json
[{"id":"cc500265.7606b","type":"tab","label":"Chatbot","disabled":false,"info":""},{"id":"fbdf233.f3793e","type":"http in","z":"cc500265.7606b","name":"","url":"/chat","method":"get","upload":false,"swaggerDoc":"","x":135.5,"y":133,"wires":[["e556f4ae.e82948"]]},{"id":"6aed896b.777208","type":"http response","z":"cc500265.7606b","name":"","statusCode":"","headers":{},"x":497.5,"y":133,"wires":[]},{"id":"e556f4ae.e82948","type":"template","z":"cc500265.7606b","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <style>\n    html, body {\n      height: 100%;\n      padding: 0px;\n      margin: 0px;\n      overflow: hidden;\n      font-family: \"Helvetica Neue\",Helvetica,Arial,sans-serif;\n      font-size: 14px;\n      color: #333;\n    }\n    hr {\n      margin-top: 20px;\n      margin-bottom: 20px;\n      border: 0;\n      border-top: 1px solid #ccc;\n    }\n    #app {\n      height: 100%;\n    }\n    #chat-container {\n      width: 100%;\n      max-width: 800px;\n      position: absolute;\n      bottom: 0px;\n      margin: 0 auto;\n      left: 0px;\n      right: 0px;\n      padding: 30px;\n    }\n    #chat-message-container {\n      overflow-y: scroll;\n      margin-bottom: 10px;\n    }\n    .chat-msg-body-bot {\n      background-color: #eee;\n      color: black;\n      border-radius: 5px;\n      margin: 10px 50px 10px 0px;\n      padding: 5px 10px 5px 10px;\n    }\n    .chat-msg-body-user {\n      background-color: #34aadc;\n      color: white;\n      border-radius: 5px;\n      margin: 10px 0px 10px 50px;\n      padding: 5px 10px 5px 10px;\n    }\n    #chat-form-input {\n      width: calc(100% - 140px);\n      padding: 6px 12px;\n      font-size: 14px;\n      border: 1px solid #ccc;\n      border-radius: 4px;\n    }\n    #chat-form-submit {\n      width: 100px;\n      padding: 6px 12px;\n      font-size: 14px;\n      border: 1px solid #ccc;\n      border-radius: 4px;\n    }\n  </style>\n  <script src=\"https://unpkg.com/vue\"></script>\n</head>\n\n<body>\n  <div id=\"app\">\n    <div id=\"chat-container\">\n      <div id=\"chat-message-container\">\n        <div v-for=\"msg in messages\" v-bind:class=\"[msg.isBot ? 'chat-msg-body-bot' : 'chat-msg-body-user']\">\n          <b><span v-html=\"msg.user\"></span></b>:\n          <div v-html=\"msg.msg\"></div>\n        </div>\n      </div>\n      <hr />\n      <div id=\"chat-form-container\">\n        <input id=\"chat-form-input\" type=\"text\" autocomplete=\"off\" placeholder=\"Enter your message...\" v-model=\"message\" v-on:keyup.13=\"submitMessage\">\n        <button id=\"chat-form-submit\" type=\"submit\" v-on:click=\"submitMessage\">Send</button>\n      </div>\n    </div>\n  </div>\n\n  <script>\n      var app = new Vue({\n        el: '#app',\n        data: {\n          botName: 'bot',\n          userId: null,\n          message: '',\n          messages: []\n        },\n        methods: {\n          submitMessage: function () {\n            if (app.message.length == 0) {\n              return;\n            }\n            app.addMessage({\n              isBot: false,\n              user: 'Me',\n              ts: new Date(),\n              msg: app.message\n            });\n            var xhr = new XMLHttpRequest();\n            xhr.open('POST', '/chat', true);\n            xhr.setRequestHeader('Content-Type', 'text/plain');\n            xhr.onreadystatechange = function() {\n              if(xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {\n                app.addMessage({\n                  isBot: true,\n                  user: app.botName,\n                  ts: new Date(),\n                  msg: xhr.responseText\n              });\n              }\n            }\n            xhr.send(app.message); \n            app.message = '';\n          },\n          addMessage(message) {\n            app.messages.push(message);\n            setTimeout(function () {\n              app.scrollMessagesToBottom()\n            }, 100);\n          },\n          scrollMessagesToBottom() {\n            setTimeout(function () {\n              app.resizeMessageContainer();\n              var e = document.getElementById(\"chat-message-container\");\n              e.scrollTop = e.scrollHeight;\n            }, 100);\n          },\n          resizeMessageContainer() {\n            var e = document.getElementById(\"chat-message-container\");\n            var rect = e.getBoundingClientRect();\n            if (rect.top <= 20) {\n              e.style.maxHeight = rect.height + rect.top + 'px';\n            }\n            else {\n              e.style.maxHeight = null;\n            }\n          },\n          init() {\n            // register with window onresize event\n            window.onresize = function () {\n              app.resizeMessageContainer();\n            }\n          }\n        }\n      });\n  \n      (function () {\n        // Initialize vue app\n        app.init();\n      })();\n    </script>\n</body>\n</html>","output":"str","x":317.5,"y":133,"wires":[["6aed896b.777208"]]},{"id":"ce1570a1.e8ba1","type":"http in","z":"cc500265.7606b","name":"","url":"/chat","method":"post","upload":false,"swaggerDoc":"","x":147.5,"y":262,"wires":[["c6fae1a0.dd77b"]]},{"id":"7341e859.de8e38","type":"debug","z":"cc500265.7606b","name":"","active":true,"console":"false","complete":"true","x":763.5,"y":130,"wires":[]},{"id":"c6fae1a0.dd77b","type":"watson-conversation-v1","z":"cc500265.7606b","name":"","workspaceid":"b539867f-c1a6-47df-b545-c32dda325733","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":304.5,"y":334,"wires":[["f24b93c8.3b75c"]]},{"id":"73ca4af9.0eb1a4","type":"function","z":"cc500265.7606b","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":661.5,"y":425,"wires":[["fe9fe66e.dfb368"]]},{"id":"fe9fe66e.dfb368","type":"http response","z":"cc500265.7606b","name":"","statusCode":"","headers":{},"x":815.5,"y":340,"wires":[]},{"id":"f24b93c8.3b75c","type":"switch","z":"cc500265.7606b","name":"","property":"payload.output.text[0]","propertyType":"msg","rules":[{"t":"cont","v":"Placeholder","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":496.5,"y":337,"wires":[["b0877aa6.8901e8"],["73ca4af9.0eb1a4"]]},{"id":"b0877aa6.8901e8","type":"function","z":"cc500265.7606b","name":"","func":"let specialty = msg.payload.context.specialty;\nlet location = msg.payload.entities[0].value;\nmsg.payload = \"Search here for \" + specialty + \" in \" + location;\nreturn msg;","outputs":1,"noerr":0,"x":659,"y":277,"wires":[["fe9fe66e.dfb368"]]}]