speech-nodered-flow.json
[{"id":"b50f3b76.1aa268","type":"tab","label":"Speech","disabled":false,"info":""},{"id":"16df089a.761e47","type":"watson-speech-to-text","z":"b50f3b76.1aa268","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"K2qp34rMS73F","payload-response":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":492,"y":273,"wires":[["71e73cf1.fcd824"]]},{"id":"e129a1c0.05cef","type":"http in","z":"b50f3b76.1aa268","name":"","url":"/talk","method":"get","upload":false,"swaggerDoc":"","x":121,"y":176,"wires":[["bfae0583.68da58"]]},{"id":"b09892f2.b7ebe","type":"http in","z":"b50f3b76.1aa268","name":"","url":"/talk","method":"post","upload":false,"swaggerDoc":"","x":134.5,"y":289,"wires":[["c2a37f86.bd7d9"]]},{"id":"bfae0583.68da58","type":"template","z":"b50f3b76.1aa268","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n\n<head>\n  <style>\n    body {\n      font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n      font-size: 14px;\n      color: #333;\n    }\n    .form-control {\n      padding: 6px 12px;\n      font-size: 14px;\n      border: 1px solid #ccc;\n      border-radius: 4px;\n    }\n  </style>\n  <script>\n    var blob;\n    function upload() {\n        var reader = new FileReader();\n        reader.readAsDataURL(blob); \n        reader.onloadend = function() {\n            base64data = reader.result;                \n            console.log(blob);\n            console.log(base64data );\n            console.log('uploading...');\n            \n            var xhr = new XMLHttpRequest();\n            xhr.open('POST', '/talk', true);\n            xhr.setRequestHeader('Content-Type', 'text/plain');\n            xhr.onreadystatechange = function() {\n              if(xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {\n                \n              }\n            }\n            xhr.send(base64data); \n        }\n    }\n    function onBodyLoaded() {\n      //document.getElementById('fileToUpload').addEventListener('change', onFileSelected, false);\n    \n      //\n        navigator.mediaDevices.getUserMedia({audio:true})\n\t    .then(stream => {\n\t\t    rec = new MediaRecorder(stream);\n\t\t    rec.ondataavailable = e => {\n\t\t        audioChunks.push(e.data);\n\t\t        if (rec.state == \"inactive\"){\n                    blob = new Blob(audioChunks,{type:'audio/ogg; codecs=opus'});\n                    recordedAudio.src = URL.createObjectURL(blob);\n                    recordedAudio.controls=true;\n                    recordedAudio.autoplay=true;\n                    audioDownload.href = recordedAudio.src;\n                    audioDownload.download = 'mp3';\n                    audioDownload.innerHTML = 'download';\n                }\n\t\t    }\n\t    })\n\t    .catch(e=>console.log(e));\n  \n        startRecord.onclick = e => {\n            startRecord.disabled = true;\n            stopRecord.disabled=false;\n            audioChunks = [];\n            rec.start();\n        }\n        stopRecord.onclick = e => {\n            startRecord.disabled = false;\n            stopRecord.disabled=true;\n            rec.stop();\n        }\n        uploadBtn.onclick = e => {\n            upload();\n        }\n    }\n  </script>\n</head>\n\n<body onLoad=\"onBodyLoaded();\">\n    \n    <h2>Audio record and playback</h2>\n\t\t<p>\n\t\t\t<button id=startRecord>start</button>\n\t\t\t<button id=stopRecord disabled>stop</button>\n\t\t\t<button id=uploadBtn>upload</button>\n\t\t</p>\t\n\t\t<p>\n\t\t\t<audio id=recordedAudio></audio>\n\t\t\t<a id=audioDownload></a>\n\t\t</p>\n    \n</body>\n\n</html>","output":"str","x":289,"y":144,"wires":[["6328fd42.929024"]]},{"id":"6328fd42.929024","type":"http response","z":"b50f3b76.1aa268","name":"","statusCode":"","headers":{},"x":474.5,"y":144,"wires":[]},{"id":"71e73cf1.fcd824","type":"debug","z":"b50f3b76.1aa268","name":"","active":true,"console":"false","complete":"true","x":676,"y":369,"wires":[]},{"id":"c2a37f86.bd7d9","type":"function","z":"b50f3b76.1aa268","name":"","func":"msg.payload = msg.payload.substring(msg.payload.indexOf('base64,') + 'base64,'.length);\nmsg.payload = Buffer.from(msg.payload, 'base64');\nreturn msg;","outputs":1,"noerr":0,"x":290.5,"y":325,"wires":[["16df089a.761e47"]]}]
